{% if product.metafields.custom_fields["notes"] != blank %}
  <div class="custom-field custom-field__notes custom-field__type--text">
    <h3 class="custom-field--title">Notes</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["notes"] }}
    </div>
  </div>
{% endif %}