<div class="section-inner">
  <div class="section-header">
    <h1>Edit Account</h1>
    <div class="back-home-btn">
      <a class="site-header__logo-link" href="{{ routes.root_url }}">
        <span class="icon icon--close">
          {% include 'icon-close' %}
        </span>
      </a>
    </div>
  </div>
  <div class="section-content editaccount">
    <div class="form-wrapper">
      {%- assign formId = 'RegisterForm' -%}
      {% render "customer-fields", form_id: "r9tqYW" %}
    </div>
  </div>
</div>
